body,html {
  height: 100%;
  position: inherit;
  width: 100%;
  overflow: hidden;
}

body > .row {
  height: 100%;
}

body .row > div[class^='col-'] {
/*.casbox {*/
  height: 100%;
}

path {
  stroke: #000;
  stroke-width: 0.15rem;
}

path:hover {
  stroke: #FF5722;
}

.casbox {
  /*position: fixed;
  width: 300px;*/

  background-color: #99ad97;
  height: 100%;
  overflow-y: auto;
  /*padding-bottom: 20px;
  left: 0px;
  bottom: 0px;*/
  /*position: absolute;*/
  /*max-width: 300px;
  max-height: 50%;*/
}

.casvitals {
  visibility: hidden;
}

.container {
  position: inherit;
  width: 100%;
}

.controlrow {
  margin: 0 auto;
  max-height: 15%;
  max-width: 90%;
  padding-bottom: 1%;
}

.controls {
  height: 100%;
  margin: auto;
  position: inherit;
  text-align: center;
  width: 100%;
}

.controls > * {
  margin-bottom: 10px;
}
.countygeom,
.DCgeom {
  fill: #eaab00;
}

.dontshowme {
    display: none;
}

.maprow {
  margin: 0 auto;
  /*max-height: 85%;*/
  /*max-width: 90%;*/
  overflow: auto;
  padding-top: 1%;
  position: inherit;
  /*width: 100%;*/
}

.showme {
    /*border: 1px solid black;*/
}

.name {
  /*fill: #1ae442;*/
  stroke: black;
  visibility: hidden;
}

.missingphoto {
  fill: #e41b00;
  stroke: black;
}

.name:hover {
  fill: #0e6f21;
}

.name.missingphoto:hover{
  fill: #791406;
}

.infobox {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 1px solid #C2C1CE;
  /*display: none;*/
  opacity: 0.0;
}


.svg-container {
  /* position: relative; */
  /* padding-bottom: 300px; */
  vertical-align: top;
  overflow: hidden;
  position: inherit;
  /*max-height: 768px;
  min-width: 400px;*/
}

.svg-content-responsive {
  display: inline-block;
  /*max-width: 75%;*/
  /*max-height: 75%;*/
  position: inherit;
  /*max-width: 1024px;
  max-height: 768px;*/
  top: 10px;
  left: 0;
}

.casname {
  margin: 10% auto;
}

.casrow {
  padding-bottom: 5px;
}

.caspic {
  display: block;
  max-height: 150px;
  margin: 0 auto;
  max-width: 150px;
  width: auto;
}

#curr {
  text-align: center;
}

#slider {
  max-width: 500px;
  margin: auto;
}
