.showme {
    border: 1px solid black;
}

.dontshowme {
    display: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 60%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    max-width: 775px;
    min-width: 400px;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

path {
  stroke: #000;
  stroke-width: 0.15rem;
}

path:hover {
  stroke: #FF5722;
}

.name {
  fill: #00c0ff;
  stroke: black;
}

.infobox {
  position: absolute;
  background-color: rgba(73, 72, 129, 0.85);
}

.infobox > p {
  margin: 10px;
}

.name:hover {
  fill: blue;
  stroke: black;
}

.name {
  visibility: hidden;
}

.countygeom,
.DCgeom {
  /*fill: hsl(81,50%,45%);*/
  fill: #eaab00;
}
