
path {
//  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
}

path:hover {
//  fill: black;
}

.name {
  fill: red;
  stroke: black;
}

.infobox {
  position: absolute;
  background-color: rgba(73, 72, 129, 0.85);
}

.infobox > p {
  margin: 10px; 
}

.name:hover {
  fill: blue;
  stroke: black;
}
